@charset "utf-8";
#container {
	margin: auto;
	padding: 0;
	width: 1000px;
	height: 1500px;
}

#container .left {
	width: 80%;
	float: left;
}

#container .right {
	width: 20%;
	float: left;
}

#container .demo {
	width: 100%;
	height: 100px;
}